<div class="cta-background"></div>

<style>
  /* Textura de fundo sobreposta */
  .cta-background {
    position: absolute;
    inset: 0;
    opacity: 0.1;
    background-image: url('https://www.transparenttextures.com/patterns/carbon-fibre.png');
    pointer-events: none;
  }
</style>
