---
import MainLayoult from "../layouts/MainLayoult.astro";
import Header from "../components/layout/Header/Header.astro";
import HeroSection from "../components/sections/Hero/HeroSection.astro";
import Services from "../components/sections/Services/Services.astro";
import Stats from "../components/sections/Stats/Stats.astro";
import CTASection from "../components/sections/CTA/CTASection.astro";
import Footer from "../components/layout/Footer/Footer.astro";
---

<MainLayoult>
  <Header />
  <main>
    <HeroSection />
    <Services />
    <Stats />
    <CTASection />
  </main>
  <Footer />
</MainLayoult>
