---
import StatItem from "./StatItem.astro";

interface Stat {
  value: string;
  label: string;
}

interface Props {
  items: Stat[];
}

const { items } = Astro.props;
---

<div class="stats-grid">
  {items.map((stat) => <StatItem value={stat.value} label={stat.label} />)}
</div>

<style>
  .stats-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--space-8);
    width: 100%;
  }

  @media (min-width: 768px) {
    .stats-grid {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      flex: 0 0 66.666%;
      width: 66.666%;
    }
  }
</style>
