---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

export type ContatoInfoProps = {
  icon: AstroComponentFactory;
  label: string;
};

export type Props = ContatoInfoProps;

const { icon: Icon, label } = Astro.props as Props;
---

<div class="container">
  <Icon class="icon" aria-hidden="true" focusable="false" />
  <p>{label}</p>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
  }
</style>
