---
type ctabtnProps = {
  label: string;
  href: string;
};

export type props = ctabtnProps;

const { label, href } = Astro.props as ctabtnProps;
---

<a href={href} target="_blank" class="cta-btn">
  {label}
</a>

<style>
  .cta-btn {
    padding: 0.28rem 0.75rem;
    background-color: var(--tema-acao-destaque);
    width: 9.125rem;
    height: 3rem;
    color: var(--tema-texto-claro-secundario);
    font-size: var(--tamanho-fonte-texto-base);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6875rem;
    font-weight: bold;
    box-shadow: 0 0px 4px var(--tema-acao-destaque);
  }
</style>
