---
type ctabtnProps = {
  label: string;
  href: string;
};

export type props = ctabtnProps;

const { label, href } = Astro.props as ctabtnProps;
---

<a href={href} target="_blank" class="cta-btn">
  {label}
</a>

<style>
  .cta-btn {
    padding: 4.5px 12px;
    background-color: var(--tema-acao-destaque);
    width: 130px;
    height: 40px;
    color: var(--tema-texto-claro-secundario);
    font-size: var(--tamanho-fonte-texto-base);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 11px;
    font-weight: bold
  }
</style>
