---
import Image from "astro/components/Image.astro";

import galleryImg from "../images/gallery.png";
---

<div class="galeria-container">
  <Image src={galleryImg} alt="Galeria de imagens" />
</div>

<style>
  .galeria-container {
    width: 100%;
    object-fit: cover;
  }

  .galeria-container img {
    width: 100%;
  }
</style>
