---
import Image from "astro/components/Image.astro";
import logo from "../images/logo.png";
---

<header class="site-header">
    <div class="site-header__inner">
        <Image src={logo} alt="Logo" />
    </div>
</header>
