---
import Image from "astro/components/Image.astro";
import caminhaoImg from "../images/caminhao-hero.png";
import { stepsFlowsData } from "../data/hero-section";
import StepItem from "./StepItem.astro";
import CtaBtn from "./CtaBtn.astro";
import { externalLinks } from "../data/navigation";

const wppObject = externalLinks.find((link) => link.path.includes("wa.me"));
const wppNumero = wppObject?.path;
---

<section class="hero-section">
  <div class="inner-hero-section">
    <div class="hero-section--content">
      <div class="text-wrapper">
        <h1>Movemos o que <br /> faz o espetáculo <br /> acontecer</h1>
        <p>
          Há anos conectamos empresas e pessoas com soluções logísticas
          completas, oferecendo eficiência, segurança e comprometimento em cada
          transporte.
        </p>
        <CtaBtn label="Fale Conosco" href={wppNumero} />
      </div>
      <div class="image-wrapper">
        <Image src={caminhaoImg} alt="Caminhão grande imagem" />
      </div>
    </div>
    <div class="WorkflowSteps">
      {stepsFlowsData?.map((step, i) => <StepItem label={step.label} i={i} />)}
    </div>
  </div>
</section>

<style>
  .hero-section {
    color: var(--tema-texto-claro-primario);
    height: 85dvh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
      to left,
      var(--tema-fundo-secundario-escuro) 30%,
      var(--tema-fundo-base-escuro) 30%
    );
    position: relative;
    overflow: hidden;
  }

  .inner-hero-section {
    width: 100%;
    max-width: 1336px;
    display: flex;
    flex-direction: column;
  }

  .hero-section--content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: 70dvh;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: span 5;
    padding: 6.3rem 0 4rem 0;
    gap: 2rem;
  }

  .text-wrapper p {
    font-size: var(--tamanho-fonte-texto-apoio);
    line-height: 28px;
  }

  .image-wrapper {
    z-index: 1000;
    grid-column: span 7;
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: flex-end;
  }

  .image-wrapper > img {
    object-fit: cover;
    width: 100%;
    overflow: visible;
  }

  .WorkflowSteps {
    display: flex;
    height: 15dvh;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
</style>
