---
import type { ValueItemProps } from "../types/components";

export type props = ValueItemProps;

const { icon, text, title } = Astro.props as props;
---

<div>
  <div class="title-wrapper">
    {icon}
    <h3>{title}</h3>
  </div>

  <p>{text}</p>
</div>
