---
import Image from "astro/components/Image.astro";

import mainImg from "../images/serivos/main.png";
---

<div>
  <div>
    <h2>Serviços</h2>
    <Image src={mainImg} alt={"Caminhao estacionado"} />
  </div>
</div>
