---
import { nossosValoresData } from "../data/quem-somos";
import ValorCard from "./ValorCard.astro";
---

<section class="quem-somos" id="quemsomos">
  <div class="quem-somos__content">
    <p class="quem-somos__content-title">
      A <span>HJLog Transportes</span> conecta empresas com soluções logísticas completas.
      Vai além do simples ato de entregar, movemos <span>
        confiança, experiência e excelência</span
      > em cada trajeto.
    </p>

    <div class="cards-wrapper">
      {
        nossosValoresData?.map((card) => (
          <ValorCard icon={card.icon} text={card.text} title={card.title} />
        ))
      }
    </div>
  </div>
</section>

<style>
  .quem-somos {
    width: 100%;
    left: calc((100% - 100vw) / 2);
    background: #1e1e1e80;
    backdrop-filter: blur(0.875rem);
    -webkit-backdrop-filter: blur(0.875rem);
    z-index: -1;
  }
  .quem-somos__content {
    width: 100%;
    max-width: 83.5rem;
    margin: 0 auto;
    text-align: center;
    color: var(--tema-texto-claro-primario);
  }

  .quem-somos__content-title {
    font-size: var(--tamanho-fonte-subtitulo);
    padding: 2.6875rem 0;
  }

  .quem-somos__content-title > span {
    font-weight: bolder;
  }

  .cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
