---
import type { ServiceItemProps } from "../types/components";

export type Props = ServiceItemProps;

const { title, text } = Astro.props as Props;
---

<div class="servico-item--card">
  <h3>{title}</h3>
  <p>{text}</p>
</div>

<style>
  .servico-item--card {
    position: relative;
    padding: 0 22px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    font-family: var(--tipografia-fonte-primaria);
  }

  .servico-item--card::before {
    content: "";
    position: absolute;
    margin-left: -2.2%;
    margin-top: 5%;
    transform: translateY(-50%);
    height: 90%;
    width: 0.05rem;
    background-color: var(--tema-texto-claro-secundario);
  }

  .servico-item--card h3 {
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-titulo-secundario);
  }

  .servico-item--card p {
    font-size: var(--tamanho-fonte-texto-apoio);
    color: var(--tema-texto-claro-terciario);
  }
</style>
