---
import type { StepsItemProps } from "../types/components";

export type props = StepsItemProps;

const { label, i } = Astro.props as props;

let numero = i ? i : 0;

const displayIndex = numero + 1;
const formattedIndex = displayIndex.toString().padStart(2, "0");
---

<div class="wrapper">
  <h2>{formattedIndex}</h2>
  <h3>{label}</h3>
</div>

<style>
  .wrapper {
    display: flex;
    color: var(--tema-texto-claro-secundario);
    align-items: center;
    max-width: 18.75rem;
    line-height: 100%;
    gap:1.1rem
  }

  .wrapper h2 {
    font-size: 1.9375rem;
  }

  .wrapper h3 {
    font-size: var(--tamanho-fonte-texto-apoio);
    margin-left: 0.22rem;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 0.75rem;
  }

  .wrapper h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 0.0625rem;
    background-color: var(--tema-texto-claro-secundario);
  }
</style>
