---
import type { ValueItemProps } from "../types/components";

export type props = ValueItemProps;

const { icon, text, title } = Astro.props as props;
const iconSrc = typeof icon === "string" ? icon : icon.src;
---

<div class="card-container">
  <div class="title-wrapper">
    <img src={iconSrc} alt={title} class="icon" />
    <h5 class="title">{title}</h5>
  </div>

  <p class="text">{text}</p>
</div>

<style>
  .card-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: flex-start;
    gap: 8px;
    margin: 24px 0px;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    width: 100%;
  }

  .icon {
    width: 3.75rem;
    height: 3.75rem;
  }

  .title {
    font-size: var(--tamanho-fonte-texto-apoio);
    font-weight: bold;
  }

  .text {
    display: block;
    text-align: start;
    font-size: var(--tamanho-fonte-texto-apoio);
    line-height: 30px;
  }
</style>
