---
import Header from "../components/Header.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/open-sans/400.css";
import "../styles/tema.css";
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>HJLog</title>
  </head>

  <body>
    <main>
      <Header />
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tema-fundo-base-claro);
    color: var(--tema-texto-primario-claro);
    font-family: var(--tipografia-fonte-primaria);
    line-height: var(--altura-linha-conforto);
    letter-spacing: var(--espacamento-letras-padrao);
    background-color: var(--tema-fundo-base-escuro);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }

  main {
    margin: 0 auto;
  }

  h1,
  h2,
  h3 {
    line-height: 120%;
    font-size: var(--tamanho-fonte-titulo-principal);
    font-family: var(--tipografia-fonte-primaria);
    letter-spacing: 0.03125rem;
  }

  p {
    line-height: 150%;
    font-family: var(--tipografia-fonte-secundaria);
  }

  a,
  button {
    font-family: var(--tipografia-fonte-primaria);
  }
</style>
